html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.d-flex.gap-1 a {
    transition: all 0.1s ease-in-out;
    font-weight: 500;
    padding: 8px 14px; /* Điều chỉnh padding để nút không quá lớn */
    border-radius: 8px; /* Bo góc vừa phải */
    white-space: nowrap; /* Giữ nút trên cùng một dòng */
}

.d-flex.gap-1 a:hover {
    transform: scale(1.03);
}
